@tailwind base;
@tailwind components;
@tailwind utilities;

/* Quick scrollbar styling to fit your dark theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617; 
}
::-webkit-scrollbar-thumb {
  background: #1e293b; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; 
}